* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: sans-serif;
    height: 100vh;
}

header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

.leftSide img{
    height: 100px;
    aspect-ratio: 1;
}

.leftSide{
    display: flex;
    align-items: center;
}

label,
select,
button{
    font-weight:600
}

button{
    padding: 0 25px;
}

main{
    background-color: #7fffd4;
}

.container{
    width: 60%;
    margin: 0 auto;
    border: 1px dashed black;
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 200px)
}

.item{
    border: 1px solid black;
    flex-basis: calc(100% / 9);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

footer{
    height: 100px;
    display: flex;
    align-items: center;
    padding: 2em;
    font-weight: bold;
}